*{
    padding:0;
    margin: 0;
}

body{
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(90deg, #35C1F6,#3560F6, #6A35F6);
}

header img.logo {
    margin-left: 20px;
    height: 3.5em;
    width: auto;
}
header img.parametre {
    margin-left: 20px;
    height: 3.5em;
    width: auto;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header nav a:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}