/* Réinitialisation de base */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Empêche le scroll horizontal */
    box-sizing: border-box;
}

* {
    box-sizing: inherit; /* Pour éviter les dépassements dus aux bordures/padding */
}


/* Conteneur principal */
#content {
    display: flex;
    flex-direction: row;
    height: calc(100% - 80px); /* Ajuster en fonction de la hauteur du header */
    width: 100%;
}

/* Style pour l'aside */
aside {
    width: 15%; /* Ajusté pour laisser plus de place au main */
    height: 100%;
    border: 1px solid rgba(128, 128, 128, 0.38);
    display: flex;
    flex-direction: column;
}

#search {
    height: auto;
    max-height: 10%;
    border: 1px solid black;
    width: 90%;
    margin: 10px auto;
}

#search-bar {
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid transparent; /* Rend la bordure transparente */
    border-radius: 25px;
    outline: none;
    background-image: linear-gradient(white, white), /* Couleur de fond */
    linear-gradient(45deg, #35c1f6, #3560f6, #6a35f6); /* Gradient du contour */
    background-origin: border-box;
    background-clip: padding-box, border-box; /* S'assure que le gradient est appliqué au contour */
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-bar::placeholder {
    color: #aaa;
}

#search-bar:focus {
    border-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}



#boxes {
    margin-top: 10px;
    padding: 0;
    list-style: none;
    width: 100%;
}

#boxes li {
    padding: 10px;
    transition: all 200ms ease;
    text-align: center;
}

#boxes li:hover {
    background-color: #3560f6;
    color: white;
    cursor: pointer;
}

/* Style pour le main */
main {
    flex: 1;
    height: 100%;
    overflow: hidden;
    background-color: white;
}

#main-header {
    position: sticky; /* Maintient le header en haut du main */
    top: 0; /* L'ancre au haut de son conteneur */
    z-index: 5;
    background-color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.38);
    box-sizing: border-box;
    padding: 5px;
}

#main-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main-header li {
    cursor: pointer;
    padding: 5px;
}

#main-content {
    display: flex;
    height: calc(100% - 5%); /* Ajuster selon l'espace restant */
}

#main-people {
    width: 30%;
    border-right: 1px solid rgba(128, 128, 128, 0.38);
    height: 100%;
}

#main-people ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#main-people li {
    cursor: pointer;
    transition: all 200ms ease;
    border-bottom: 1px solid #ddd;
}

#main-people li a {
    color: inherit;
    text-decoration: inherit;
}

#main-people li:hover {
    background-color: rgba(211, 211, 211, 0.23);
}

.title {
    font-weight: bold;
    color: #3560f6;
}

#main-mail {
    flex: 1;
    padding: 10px;
    background-color: #fff;
}

.mail {
    display: none;
}

.mail:target {
    display: block;
}

.mail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.38);
    padding-bottom: 10px;
}

.mail-infos {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.mail-title {
    color: #6a35f6;
    margin-top: 10px;
}

.mail-content {
    margin: 10px 0;
    color: #333;
    line-height: 1.5;
}

.answer-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 7px 10px;
    color: white;
    border-radius: 5px;
    transition: background-color 200ms ease;
}

.icon {
    height: auto;
    width: 25%;
    margin-right: 5px;
}

.icon-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-div p {
    background: linear-gradient(to right, #35C1F6, #3560F6, #6A35F6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
