html, body {
    height: 100%;
    margin: 0;
}

#content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 80px);
    overflow-x: hidden;
}

aside {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgba(128, 128, 128, 0.38);
    height: 100%;


    h1 {
        color: #3560f6;
        margin-top: 15px;
    }
}

#pages-settings {

    list-style: none;
    margin-top: 10px;
    width: 100%;

    li {
        text-align: center;
        padding: 10px;
        transition: all 200ms ease;

        a {
            text-decoration: none;
            color: black;
        }

    }

    li:hover {
        background-color: #3560f6;
        cursor: pointer;

        a {
            color: white;
        }
    }
}

.main-content {
    display: none;
}

#default-main-content {
    display: block;
}

body:has(:target) #default-main-content:not(:target) {
    display: none;
}

.main-content:target {
    display: block;
}

.setting-title {
    margin: 15px;
    color: #3560f6;
}

.main-settings {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-left: 15px;
    width: 100%;
    justify-content: center;
}

label {
    font-size: large;
}


#save-button {
    position: absolute;
    top: 92%;
    left: 90%;
    padding: 10px 15px;
    margin-bottom: 5%;
    border: 2px solid transparent;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    background-image: linear-gradient(white, white),
    linear-gradient(45deg, #35c1f6, #3560f6, #6a35f6);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    z-index: 1;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: black;
    font-size: large;
}

#save-button:hover {
    color: white;
    background: linear-gradient(45deg, #35c1f6, #3560f6, #6a35f6);
}


#exclure-cours, #inclure-cours, #nb-cours, #round {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;

    p {
        margin-right: 5px;
    }

    input {
        margin-right: 5px;

        appearance: none;
        border: none;
        outline: none;
        border-bottom: .2em solid #35c1f6;
        border-radius: .2em .2em 0 0;
        padding: .4em;
    }

    a {
        background-color: #3560f6;
        border-radius: 5px;
    }
}

#signature {

    #textarea-signature {
        width: 500px;
        height: 120px;
    }
}

@media (max-width: 768px) {

    aside {
        display: none;
    }

    #save-button {
        position: relative;
        top: 0;
        left: 50%;
        align-items: center;
        margin: 15px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        max-width: 95vw;
    }

    #signature {

        #textarea-signature {
            width: 75%
        }
    }

    #exclure-cours, #inclure-cours, #nb-cours, #round {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;

        p {
            margin-right: 5px;
        }

        input {
            margin-right: 5px;

            appearance: none;
            border: none;
            outline: none;
            border-bottom: .2em solid #35c1f6;
            border-radius: .2em .2em 0 0;
            padding: .4em;
            width: 10%;
        }

        a {
            background-color: #3560f6;
            border-radius: 5px;
        }
    }

    .main-settings {
        margin-top: 0;
        max-width: 85vw;
    }

    #default-main-content {
        display: none;
    }

}